<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" type="image/png" href="/logo.webp">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block stylesheets %}
			<link rel="stylesheet" href="/style.css">
		{% endblock %}

		{% block javascripts %}
			<script>
				setTimeout(() => {
                    const alerts = document.querySelectorAll('.alert');
                    alerts.forEach(alert => {
                        alert.style.transition = 'opacity 0.5s ease';
                        alert.style.opacity = '0';
                        setTimeout(() => alert.remove(), 500);
                    });
                    }, 4000);
			</script>
		{% endblock %}

	</head>
	<body>
		{%  include '_include/navbar.html.twig' %}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">{{ message }}</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">{{ message }}</div>
		{% endfor %}
		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning">{{ message }}</div>
		{% endfor %}

		{% block body %}{% endblock %}
	</body>
</html>
